<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberEntity" type="com.job.entity.member.MemberEntity"/>
		<typeAlias alias="SmsEntity" type="com.job.entity.publics.SmsEntity"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/job/dao/member/Member.xml" />
		<mapper resource="com/job/dao/publics/Sms.xml" />
	</mappers>
</configuration>	
